# development dependencies
bandit~=1.7.4
black~=22.3.0
cfn-lint~=0.77.5
cfn-policy-validator~=0.0.13
flake8~=4.0.1
mypy~=0.950
pylint~=2.13.8
toml>=0.10.2
yamllint~=1.26.3

# runtime and typing dependencies included to hint IDEs and make it easier to test/debug locally
boto3~=1.22.12
boto3-stubs[comprehend,codebuild,dynamodb,lambda,lexv2-runtime,s3,sqs,sns]~=1.22.12
gql[botocore,aiohttp,requests]~=3.2.0
aws-lambda-powertools~=1.25.10
phonenumbers~=8.12.51
crhelper~=2.0.10
