#set( $pkPrefix = "cls#" )

{
  "version" : "2017-02-28",
  "operation" : "Scan",
  "limit": $util.defaultIfNull(${ctx.args.limit}, 100),
  "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.nextToken, null)),
  "filter": {
    "expression": "begins_with(PK, :prefix)",
    "expressionValues": {
      ":prefix": $util.dynamodb.toDynamoDBJson($pkPrefix),
    }
  }
}