node_modules/
logs/
dist/
.eslintcache
*.log
.env
.env.test
build
*.iml
.gradle
.settings
bin
.classpath
.project
.DS_Store
source/start_codebuild/package/
deployment/regional-s3-assets/
deployment/global-s3-assets/
out
.aws-sam